body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bank{
    width: 65%;
    height: 700px;
    border: 1px solid turquoise;
    border-radius: 20px;
}

h2{
    color: rgb(24, 201, 255);
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 7px 13px;
}

.add{
    width: 65%;
    height: 70px;
    border: 1px solid turquoise;
    border-radius: 20px;
    margin-top: 60px;
}

#btn{
    background-color: aqua;
    color: white;
    margin-top: 20px;
    font-size: 70px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}